.head-wrap {
    top: 0;
    width: 100%;
}

h1 {
    text-align: center;
    top: 0;
    width: 100%;
}

.image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrap {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box {
    justify-content: left;
    align-items: left;
    text-justify: center;
    text-align: center;
}

.submit {
    margin-top: 20px;
    text-align: center;
}
